# Gitleaks — Open-source-инструмент для статического анализа кода
# на предмет наличия в нем конфиденциальных данных,
# таких как пароли или ключи API, которые были включены в исходный код в явном виде
# без использования переменных или конфигурационных файлов.
stages:
  - test

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

secret_detection:
  variables:
    GIT_STRATEGY: "clone"
    SECURE_LOG_LEVEL: "debug"
    # будет ли сканироваться вся история проекта или только текущее состояние
    SECRET_DETECTION_HISTORIC_SCAN: "true"
    GET_VULNERABILITY_COUNT: "cat gl-secret-detection-report.json | jq --raw-output '.vulnerabilities | length'"
  #  allow_failure: false
  tags:
    - docker
  script:
    - apk add jq bash
    - /analyzer run
    - bash .gitlab/.ci-scripts/secret-detection.sh
    - exit $(eval "$GET_VULNERABILITY_COUNT")
