version: "3.5"
# | Описание работы всех контейнеров (т.е. один сервис - один контейнер)
services:
  web-server:
    image: nginx:stable
    container_name: mynginx
    volumes:
      - "/opt/web/html:/var/www/html"
      - "/opt/web/pics:/var/www/pictures"
      - "nginx-config:/var/www/config"
    environment:
      - "NGINX_HOST=web.tdotv.de"
      - "NGINX_PORT=80"
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped # always/no/on-failure

volumes:
  nginx-config:

networks:
  default:
    driver: bridge
    name: webnet
# =====================================

# docker run
# --name web-server
# -v /opt/web/html:/var/www/html
# -v /opt/web/pics:/var/www/pictures
# -e NGINX_HOST=web.tdotv.de
# -e NGINX_PORT=80
# -d
# -p 80:80
# -p 443:443
# -net webnet
# nginx:stable
