---
# tasks file for deploy_apache_web

- block:  # ===== RedHat =====
  - name: Install Apache Webserver for RedHat
    yum: name=httpd state=latest
  - name: Start Webserver service for RedHat
    service: name=httpd state=Started enabled=yes
  when: ansible_os_family == "RedHat"

- block:  # ===== Debian =====
  - name: Install Apache Webserver for Debian
    apt: name=apache2 state=latest
  - name: Start Webserver service for Debian
    service: name=apache2 state=Started enabled=yes
  when: ansible_os_family == "Debian"
  
- name: Generate index.html file
  template: src=index.j2 dest={{ destin_dir }}/index.html mode=0555
  notify:
    - Restart Apache RedHat
    - Restart Apache Debian

- name: Copy HomePage to Web Server
  copy: src={{ item }} dest={{ destin_dir }} mode=0555
  with_fileglob: "*.png"

  # copy: src={{ source_dir }}/{{ item }} dest={{ destin_dir }} mode=0555
  # loop:
  #   - "index.html"
  #   - "image1.png"
  #   - "image2.png"

  notify:
    - Restart Apache RedHat
    - Restart Apache Debian